@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em; 
  font-family: sans-serif;
}

img {
  display: block;
  width: 100%;
}

.wrap{
  margin: 0;
  position: relative;
}

.intro{
  font-family: "Times New Roman", Georgia, Serif;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 1em;
  bottom: 0;
  color: #fff;
  margin: 0 auto;
}

.dino-title{
  padding-top: .5rem;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.title{
  font-size: .9rem;
  text-transform: uppercase;
  color: #A9A9A9;
  margin: 0;
}

.wrapper{
  margin-left: 1rem;
  overflow: hidden;
}

.section-1{
  border-right: 1px solid #A9A9A9;
  margin-bottom: 1rem;
  float: left;
  width: 32%;
}

.section-2{
  border-right: 1px solid #A9A9A9;
  margin-bottom: 1rem;
  padding-left: 1rem;
  float: left;
  width: 32%;
}

.section-3{
  padding-left: 1rem;
  float: left;
  width: 32%;
}

.sub-title{
  margin: 0;
}